---
import imageA from "../assets/image/card1.jpg";
import imageB from "../assets/image/card2.jpg";
import imageC from "../assets/image/card3.jpg";
import imageD from "../assets/image/card4.webp";
const { subtitleA, subtitleB, subtitleC, subtitleD } = Astro.props;	
const { titleD, titleh, titlei } = Astro.props;
---

<section id="ivs">
  <div class="content-text">
    <h2>{titleD}</h2>
    <p>{titleh}</p>
    <p>{titlei}</p>
  </div>
  <div class="section-card">
    <div class="card">
      <img src={imageA.src} alt="image">
      <p class="text">{subtitleA}</p>
      <div class="underline"></div>
    </div>
    <div class="card">
      <img src={imageB.src} alt="image">
      <p class="text">{subtitleB}</p>
      <div class="underline"></div>
    </div>
    <div class="card">
      <img src={imageC.src} alt="image">
      <p class="text">{subtitleC}</p>
      <div class="underline"></div>
    </div>
    <div class="card">
      <img src={imageD.src} alt="image">
      <p class="text">{subtitleD}</p>
      <div class="underline"></div>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../assets/sass/index' as *;

  .animated {
    opacity: 0; 
    transform: translateX(100px); 
    transition: opacity 0.7s ease, transform 0.7s ease;
    will-change: transform, opacity; 
  }

  .animated.visible {
    opacity: 1;
    transform: translateX(0);
  }

  .animated:nth-child(1) {
    transition-delay: 0.4s;
  }

  .animated:nth-child(2) {
    transition-delay: 0.6s;
  }

  .animated:nth-child(3) {
    transition-delay: 0.8s;
  }

  section {
    position: relative;
    background-image: linear-gradient(rgba($blueTertiary, 85%), rgba($blueTertiary, 85%)), url("../assets/image/image19.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 5%;
    overflow: hidden;
  }

  .content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    gap: 30px;
    margin-top: 40px;
    padding: 40px 0;

    p {
      margin: 0;
      color: $white;
    }

    h2 {
      color: $white;
    }
  }

  .section-card {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin: 0 auto;
    padding: 40px 5%;
    gap: 20px;
    overflow: hidden;
  }

  .section-card > div {
    width: 100%;
    max-width: 500px; 
    margin-bottom: 20px; 
    background-color: $white;
    border-radius: 5px; 
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1); 
    padding:5px;
  }

  img {
    width: 100%;
    border-radius: 5px;
  }

  p {
    color: $black;
    margin: 0;
  }

  .text {
    font-size: 1.5rem;
    font-family: $text;
    font-weight: $regular;
    color: $blueSecond;
    margin: 10px 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    height: auto; 
  }

  @media only screen and (min-width: 1024px) {
    .content-text {
      text-align: center;
      align-items: center;
      padding: 50px;

      p {
        width: 70%;
      }
    }

    .section-card {
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 50px; 
    }
  }
</style>